.info-container {
  background-color: #0db5f802;
  border-radius: 5px;
  box-shadow: 0px 5px 25px rgba(208, 229, 251, 0.07);
  margin: 60px auto;
  padding: 30px 20px;
  width: 80%;
}

.info-container img {
  border-radius: 5px;
  filter: brightness(60%);
}

.info-container h1 {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 1px;
}

.info-container h2 {
  color: #c5cbd6bf;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.3;
}

.info-container p {
  font-family: var(--secondary-font);
  font-size: 15px;
  font-weight: 100;
  text-align: justify;
}

@media (max-width: 992px) {
  .info-container {
    width: 80%;
  }
}
