.Home h1 {
  font-size: 85px;
  font-weight: 300;
  text-transform: uppercase;
}

.Home .hero-container h2 {
  opacity: 0.6;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.Home .hero-container {
  background: var(--gradient);
  padding: 100px 100px;
}

.Home .main-container {
  width: 90%;
}

.Home .Inquiry {
  margin-top: 50px;
  max-width: 90%;
}

@media (max-width: 992px) {
  .Home h2 {
    font-size: 20px;
  }

  .Home .hero-container h1 {
    font-size: 65px;
  }

  .Home .hero-container h2 {
    margin-top: 10px;
  }

  .Home .hero-container {
    padding: 100px 50px;
  }

  .Home .main-container {
    width: 90%;
    padding-bottom: 10px;
  }
}
