.card {
  background-color: #0db5f802;
  box-shadow: 0px 5px 25px rgba(208, 229, 251, 0.07);
  color: var(--primary-color);
  height: 100%;
  padding: 20px;
  text-align: center;
  transition: all 200ms ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card-img {
  padding: 20px;
  filter: brightness(70%);
  transition: all 200ms ease-in-out;
}
.card:hover .card-img {
  filter: brightness(100%);
}
.card-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 3px;
  opacity: 0.7;
  text-transform: uppercase;
}

.card-text {
  font-family: var(--secondary-font);
  font-weight: 100;
  color: #c5cbd6bf;
}

.project-button {
  border: 1px solid rgba(208, 229, 251, 0.03);
  background: var(--secondary-color);
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 2px;
  padding: 8px 15px;
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

.project-button:hover {
  opacity: 0.8;
  transform: scale(0.96);
}

.secondary-heading {
  background-color: var(--secondary-color);
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 6px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
}

.ProjectCard {
  margin: 40px auto;
  max-width: 2400px;
  text-align: center;
  width: 95%;
}

.ProjectCard img {
  max-width: 600px;
  width: 100%;
}
.ProjectCard .button-row {
  margin: 0 auto;
  width: 60%;
}

.ContactInfo {
  border-top: 1px solid #c5cbd643;
  display: flex;
  justify-content: center;
  margin: 50px auto 0;
  padding: 50px 0 10px;
  text-align: center;
  width: 50%;
}

.ContactInfo a {
  color: var(--primary-color);
  transition: all 200ms ease-in-out;
}

.ContactInfo .icon {
  font-size: 36px;
  margin: 0px 20px;
}

.ContactInfo a:hover {
  color: #c5cbd6bf;
}

.Footer {
  color: #c5cbd6bf;
  font-size: 12px;
  font-family: var(--primary-font);
  margin: 40px 0 10px;
  padding-bottom: 10px;
  text-align: center;
}

.Footer a {
  color: var(--primary-color);
  font-weight: 500;
  text-decoration: none;
}

@media (max-width: 992px) {
  .secondary-heading {
    font-size: 16px;
  }
  .card {
    margin: 25px 0;
    text-align: left;
  }

  .card-title {
    font-size: 22px;
  }

  .card:hover {
    transform: none;
  }

  .ProjectCard {
    background-color: rgba(208, 229, 251, 0.03);
    box-shadow: 0px 5px 25px rgba(208, 229, 251, 0.07);
  }
}
